body {
  width: 400px;
  height: 400px;
}


h3, h5
{
    display: inline;
    float: left;
}

.top-buffer 
 { 
    margin-top:15px;
    margin-bottom:15px;
 }

 .icon
 {
    width: 30px;
    height: 30px;
 }

#start-button
{
    display: inline;
}

.inline
{
    display: inline-block;
}

#result
{
    width: 20px;
    height: 20px;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 100%;
    display: inline;
    position: relative;
    float: left;
    margin-top: 5px;
    margin-left: 5px;;
}